*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
}
.nav{
    height: 20%;
    width: 100%;
    /* background-color: rgb(0, 0, 0);  */
    display: flex;
}
.logo{
    position: relative;
    top: -10px;
    left: -20px;
    height: 100%;
    width: 25%;
    background: url(images/logo.png);
    background-size: cover;
    scale: 0.7;
}
.text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h1{
    position: relative;
    top: -10px;
}
.nav .profile{
    margin: 10px;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav .profile .profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    right: 60px;
    top: 10px;
}
.nav .profile .profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav .profile h3{
    position: relative;
    left: 20px;
    bottom: 40px;
    font-weight: 500;
}
.nav .profile button{
    padding: 10px 20px;
    background-image: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    left: 17px;
    bottom: 30px;
}
.content{
    height: 80%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 20%;
    border-right: 1px solid #9d9d9d;
}
.right{
    height: 100%;
    width: 80%;
}
.sidebar {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
  
  /* .user-section {
    margin-bottom: 20px;
  } */
  
  .user-role {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .sidebar .dashboard-button{
    position: relative;
    top: 10px;
    right: 60px;
  }
  
  .dashboard-button {
    background-color: #fff;
    border: none;
    /* color: white; */
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  
  
  .favorites-section .section-title{
    position: relative;
    top: 10px;
    right: 10px;
  }
  .section-title {
    font-size: 12px;
    color: #888;
    margin: 15px 0 8px;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin-bottom: 10px;
  }

  .favorites-section{
    margin-bottom: 25px;
  }
  
  .favorites-list li {
    font-size: 14px;
    color: #555;
    margin-top: 25px;
  }
  
  .dashboards-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
    cursor: pointer;
    width: 70%;
    height: 30px;
    border-radius: 12px;
  }
  
  .dashboards-list li img {
    width: 16px;
    height: 16px;
  }
  
  .dashboards-list .passkey{
    background: linear-gradient(to right, #5b9dff, #377dff);
  }
  .dashboards-list .passkey:hover{
    color: #fff;
  }

  .dashboards-list li:hover {
    color: #377dff;
  }
  
  .dashboards-list li:hover i {
    color: #377dff;
  }
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    position: relative;
    left: 5%;
    top: 10px;
    cursor: pointer;
}
.icon img{
    height: 20px;
    width: 20px;
}
.table{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    top: 30px;
    left: 4%;
}
.table-container {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background: linear-gradient(to bottom, #99A0FF80, #9CF5FF80);
  }

  thead th {
    text-align: left;
    padding: 12px 16px;
    color: #333;
    font-weight: bold;
  }

  tbody tr {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody td {
    padding: 12px 16px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
  }

  .actions {
    display: flex;
    gap: 12px;
  }

  .actions i {
    cursor: pointer;
    font-size: 18px;
    color: #000;
  }

  .actions i:hover {
    color: #555;
  }

  .passkey {
    font-weight: bold;
    letter-spacing: 2px;
  }

  .action-btns{
    height: 30px;
    width: 70px;
    cursor: pointer;
    /* background-color: #007bff; */
  }
  .action-btns img{
    height: 20px;
    width: 20px;
    margin: 5px;
    position: relative;
    left: 40px;
  }